@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$white: #fff;
$dark-500: #1B1B1B;
$dark-400: #3D3D3D;
$dark-300: #A09F9F;
$dark-100: #C3C3C3;
$blue-100: #F9FAFF;
$blue-400: #E8F1FE;
$blue-500: #42A5F5;
$red-400: #EF5350;

$font-size-100-30: clamp(1.88rem, calc(-0.02rem + 8.09vw), 6.25rem);
$font-size-30-20: clamp(1.25rem, calc(0.98rem + 1.16vw), 1.88rem);
$font-size-20-18: clamp(1.13rem, calc(1.07rem + 0.23vw), 1.25rem);
$font-size-24-18: clamp(1.13rem, calc(0.96rem + 0.69vw), 1.50rem);
$font-size-20-14: clamp(0.88rem, calc(0.71rem + 0.69vw), 1.25rem);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    color: #000;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


h1,
h2,
h3,
p {
    margin: 0;
}


h1,
h2,
h3 {
    font-weight: 700;
    text-transform: capitalize;
}


.section-padding {
    padding: 70px 0;
}


%list-defaults {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}


%link-default {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;

    &:hover,
    &:focus {
        color: $blue-500;
        background-color: $white;
        text-decoration: none;
    }

}

.text-gradient {
    color: $blue-500
}

.fqa-interesting__list,
.faq-popular-question__list,
.faq-content-menu__list,
.faq-answers-list,
.faq-content-breadcrumbs__list {
    @extend %list-defaults;
}


.faq-content-menu__item-link,
.faq-content-breadcrumbs__link,
.faq-popular-question__tag {
    font-size: 0.875rem;
    font-weight: 700;
    color: $blue-500;
    padding: 10px 15px;
    background-color: $blue-400;
    border-radius: 5px
}

.faq-content-menu__item-link,
.faq-content-breadcrumbs__link {
    font-size: $font-size-20-14;
    font-weight: 400;
    border-radius: unset;
    background-color: transparent;
    text-transform: capitalize;
    padding: 7px;
}

 
.faq-content-menu__item-link {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;

    font-size: 1rem;
    padding: 0;
    color: $dark-500;

    &:hover,
    &:focus {
        color: $blue-500;
        text-decoration: none;
    }

}

 

.faq-content-menu__btn>svg,
.faq-content-menu__item-link:hover svg,
.faq-content-menu__item-link:focus svg {
    fill: $blue-500
}


.faq-content-menu__btn.collapsed>svg {
    transform: rotate(360deg);
}

.faq-content-menu__btn>svg {
    transform: rotate(180deg);
}



.faq-popular-question__tag,
.faq-content-breadcrumbs__link {
    @extend %link-default;
}

.faq-content-breadcrumbs__link:hover,
.faq-content-breadcrumbs__link:focus {
    background: transparent;
    color: $blue-500;
    text-decoration: underline;
}

.faq {
    background-color: $blue-100;
}


.faq-hero {
    position: relative;
    background-image: url('../img/faq-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
}



.faq-hero__header {
    padding-top: 12%;
    margin-bottom: 70px;
}


.faq-hero__title {
    position: relative;
    color: $white;
    font-size: $font-size-100-30;
    z-index: 2;
}

.faq-hero__title::before {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";

    width: 100%;
    height: 352px;

    background-image: url('/icons/word.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center top 30%;
    opacity: .3;
    z-index: 1;
}




.faq-content__header,
.faq-popular-question__title {
    font-size: $font-size-30-20;
    line-height: 1.5;
    border-bottom: 1px solid $dark-300;
    padding-bottom: 32px;
}

.faq-content__header {
    padding-bottom: 60px;
    border-bottom: none;
}

.faq-popular-question__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
}

.faq-popular-question__item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
}

.faq-content-menu {
    color: $dark-500;
    background-color: $white;
    border-radius: 10px;
    padding: 50px 0 10% 15%;
}

.faq-content-breadcrumbs {
    margin-top: 50px;
    margin-bottom: 30px;
}

.faq-content-breadcrumbs__list {
    display: flex;
}

.faq-content-breadcrumbs__link {
    color: $dark-100;
}

.faq-content-breadcrumbs__link.active {
    color: $blue-500;
}

.faq-hero__menu-list-item-text {
    font-size: 0.875rem;
    text-transform: capitalize;
}

.faq-content-menu__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.faq-hero__form-input::placeholder {
    color: $dark-300;
}

.faq-hero__form-input {
    position: relative;
    top: 50px;

    width: 60%;
    min-height: 100px;
    font-size: clamp(0.81rem, calc(0.73rem + 0.35vw), 1.00rem);

    border-radius: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 35px;
    box-shadow: 20px 20px 50px -10px rgba(21, 21, 21, 0.04);

    background-image: url('../icons/icon-search.svg');
    background-repeat: no-repeat;
    background-position: center right 30px;
    background-size: 30px;
    outline: 1px solid transparent;
    z-index: 4;

    &:hover,
    &:focus {
        outline: 1px solid $blue-500;
    }
}

.faq-answers-list__item-link {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 30px;
    color: $dark-400;
    padding: 20px 20px;
    border-bottom: 1px solid $dark-100;
    box-shadow: none;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $dark-500;
        padding: 30px 20px;
        background-color: $white;
        box-shadow: 0px 20px 30px rgba(226, 226, 226, 0.2);
        border-bottom: 1px solid transparent;
        text-decoration: none;
    }
}
 

.faq-answers-list__item .faq-answers-list__icon-container>svg {
    fill: $blue-500;
}


.faq-answers-list__item:hover .faq-answers-list__icon-container>svg {
    fill: $red-400;
}

.faq-answers-list__item:hover .faq-answers-list__icon-container {
    background-color: transparent;
}

.faq-answers-list__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $blue-400;
}

.faq-answers-list__icon-container_color-red {
    background-color: $red-400;
}



.faq-answers-list__text {
    font-size: $font-size-20-14;
    font-weight: 700;
}


%link-default,
.faq-interesting__icon-container,
.faq-interesting__item-link,
.faq-content-menu__btn>svg,
.faq-answers-list__icon-container,
.faq-answers-list__item-link,
.faq-hero__form-input,
.faq-answers-list__item-link:hover .faq-answers-list__icon-container>svg {
    transition: all .2s ease-in;
}

.faq-inner-page {
    background-color: $blue-100;
}

.faq-content-breadcrumbs__inner-page {
    padding-bottom: 32px;
    border-bottom: 1px solid $dark-100;
}

.faq-inner-page-answers__title {
    font-size: $font-size-30-20;
    margin-bottom: 60px;

}

.faq-inner-page-answers__tex {
    position: relative;
    padding-left: 30px;
    max-width: 860px;


    &::before {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        content: "";

        width: 7px;
        height: 100%;


        background-color: $blue-500;
    }
}


.fqa-interesting__title {
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid $dark-100;
}



.faq-answers-list__item-link-popular,
.faq-answers-list__item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width:991.98px) {
    .faq-content-menu__item {
        grid-template-columns: 1fr;
    }

    .faq-content-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .faq-content-breadcrumbs {
        margin-top: 0;
    }

    .faq-hero__form-input {
        min-height: 60px;
        width: 90%;
        background-size: 21px;
        top: 30px;
    }
}



@media (max-width: 575.98px) {
    #faq-content-menu {
        display: none;
    }

    .section-padding {
        padding: 50px 0;
    }

    .faq-content-menu {
        align-items: flex-start;
        padding: 30px;
    }

    .faq-content-menu__list.collapsed {
        border-top: 1px solid transparent;
    }

    .faq-content-menu__list {
        border-top: 1px solid $dark-100;
        padding-top: 28px;
    }


    .faq-content-menu__btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: unset;
        box-shadow: none;

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }

    .faq-content-breadcrumbs,
    .faq-content__header {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .faq-hero__form-input {
        width: 90%;
        background-size: 16px;
        min-height: 50px;
        background-position: center right 15px;
        border-radius: 7px;
    }

    .faq-hero__form-input-menu {
        width: 100%;
        background-size: 16px;
        min-height: 50px;
    }

    .faq-hero__form-input {
        top: 20px;
    }

    .faq-hero__header {
        padding-top: 20%;
        margin-bottom: 40px;
    }

    .faq-hero__title::before {
        top: 46px;
    }

    .faq-content-menu__list-second {
        width: 100%;
    }
}